$color-page-background: #000;
$color-section-background: #111;
$color-text: #fff;
$color-borders: #777;
$color-highlight: #1dec5c;

@mixin clickable($hover) {
  background-color: $color-section-background;
  border-color: $color-borders;
  border-style: solid;
  color: $color-highlight;

  @if $hover {
    &:hover {
      background-color: $color-highlight;
      color: $color-section-background;
    }
  }
}

body {
  background-color: $color-page-background;
  color: $color-text;
  font-family: arial;
}

.flyout {
  bottom: 0;
  left: 0;
  max-width: 350px;
  position: fixed;

  .toggle {
    @include clickable(true);

    border-top-right-radius: 15px;
    border-width: 1px 1px 0 0;
    display: block;
    font-size: 2em;
    font-weight: bold;
    opacity: .6;
    padding: 5px 15px;
    text-align: right;

    &:hover {
      opacity: 1;
    }
  }

  .body {
    background-color: $color-section-background;
    border-color: $color-borders;
    border-style: solid;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    height: 500px;
    line-height: 1.8;
    overflow: hidden;
    padding: 5px 15px 15px;
    position: relative;
    transition: padding 1s, height 1s, width 1s;
    width: 350px;

    &.hidden {
      height: 0;
      padding: 0 15px;
      width: 50px;
    }

    h1,
    h2 {
      border-bottom: 1px dashed $color-borders;
      color: $color-highlight;
      margin-bottom: 10px;
      margin-top: 15px;
      width: 100%;
    }

    a {
      &:link,
      &:active,
      &:visited {
        color: $color-text;
      }
    }

    .control {
      clear: both;

      .left,
      .right {
        box-sizing: border-box;
        margin-bottom: 10px;
        min-height: 30px;
        padding-top: 6px 0;
        width: 48%;
      }

      .left {
        clear: left;
        float: left;
      }

      .right {
        clear: right;
        float: right;
      }

      select,
      button {
        border-radius: 5px;
        border-width: 1px;
        height: auto;
        padding: 10px;
      }

      select {
        @include clickable(false);
      }

      button {
        @include clickable(true);
      }
    }
  }
}
